// HOME PAGE IMG ZOOM ANIMATION //
@keyframes breath {
    from { 
      transform: scale(1);
    }
    to {
      transform: scale(1.10)
    }
  }

// HOME PAGE TEXT INTRO ANIMATION //
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        // transform: translateY(3rem);
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// // NAV BURGER ANIMATION //
// .toggle .line1{
//     transform: rotate(-45deg) translate(-5px,6px);
//     -webkit-transform: rotate(-45deg) translate(-5px,6px);
//     -moz-transform: rotate(-45deg) translate(-5px,6px);
//     -ms-transform: rotate(-45deg) translate(-5px,6px);
//     -o-transform: rotate(-45deg) translate(-5px,6px);
// }

// .toggle .line2{
//     opacity: 0;
//     -webkit-opacity: 0;
//     -moz-opacity: 0;
//     -ms-opacity: 0;
//     -o-opacity: 0;
// }

// .toggle .line3{
//     transform: rotate(45deg) translate(-5px,-6px); 
//     -webkit-transform: rotate(45deg) translate(-5px,-6px);
//     -moz-transform: rotate(45deg) translate(-5px,-6px);
//     -ms-transform: rotate(45deg) translate(-5px,-6px);
//     -o-transform: rotate(45deg) translate(-5px,-6px);
// }
