@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");

// GLOBAL SETTINGS ///////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: var(--color-primary-font);

  @media screen and (max-width: 768px) {
    overflow-x: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
  color: inherit;
}

p {
  line-height: 25px;
}

ul {
  list-style-type: none;
}

//  BOOTSTRAP REMOVAL //
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

a:hover {
  color: inherit !important;
}

.dropdown-menu a:active {
  background-color: inherit !important;
}

thead {
  font-weight: 500;
}
// CONTAINERS //
.container-xl { max-width: 1300px; }
.container-lg { max-width: 1225px; }
.container-med { max-width: 875px; }


// CSS VARIABLES ///////////////////////////////////////////////

// COLORS //
:root {
  --color-primary: #0096db;
  --color-primary-hover: #0078db;
  --color-primary-alt: #034577;
  --color-primary-link: #337ab7;
  --color-primary-font: #626365;
  --color-white: #ffffff;

  // SHADOWS //
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  // FONT SIZES //
  --font-sm: .9rem;
}

// HELPERS //
// FLEXBOX STYLES //
.flex {
  display: flex;

&-jc-sb {
  justify-content: space-between;
  }

&-jc-sa {
  justify-content: space-around;
}

&-jc-c {
  justify-content: center;
  }

&-ai-c {
  align-items: center;
  }

&-fd-c {
  flex-direction: column;
  }
}

// COLORS CLASSES IN USE //
#b-blue {
  color: var(--color-primary) !important;
}

.b-blue {
  color: var(--color-primary) !important;
}

.l-blue-dark {
  color: var(--color-primary-alt) !important;
}

.background-white {
  background-color: #ffffff;
}

.background-light-gray {
  background-color: #f3f3f3;
}

// HR FADE //
.hr-fade {
  border: 0;
  height: 2px;
  margin: 2rem 0;
  position:relative;
  background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
}

.hr-fade:before {
  content: "";
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
