@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

// GLOBAL SETTINGS ///////////////////////////////////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow-y: scroll; 
}

body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    color: #626365;

    @media screen and (max-width:768px) {
        overflow-x: hidden;
    }
}

a {
    text-decoration: none !important;
    color: inherit;
}

p {  
    line-height: 25px;  
}

ul {
    list-style-type: none;
}

//  BOOTSTRAP REMOVAL //
h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}

a:hover {
    color: inherit !important;
}

.dropdown-menu a:active {
    background-color: inherit !important;
}

 thead {
    font-weight: 500;
}


// VARIABLES ///////////////////////////////////////////////
// COLORS //
:root {
    --color-primary: #0096DB;
    // --color-primary: #0070C0;
    --color-primary-sp: #0078db;
    --color-primary-hover: #0078db;
    // --color-primary-dark: #003478;
    --color-primary-dark: #034577;
    --color-primary-link: #337ab7;

    --color-grey-dark: #333333;

    --color-grey-dark-2: #1A2E3B;
    --color-grey-light-2: #8498A4;
    --color-grey-light-alt:  #f6f7f8;

    --color-primary-alt: #034577;
    --color-primary-2: #0073b1;

    //link and bottom border color
    // color: #0A589F;
    // border-bottom: 1px solid #5BF2B1;    border-bottom: 1px solid #5BF2B1;
    // heading dark paired with above link and border bottom color
    // color: #034577;
    // background grey with text colors
    // background: #EEF3F4;
    // color: #494a55;

}


// COLORS CLASSES IN USE //
#b-blue {
    color: var(--color-primary) !important;
}

.b-blue {
    color: var(--color-primary) !important;
    // color: var(--color-primary-sp) !important;
}

.b-blue-light {
    color: var(--color-primary) !important;
}

.l-blue-dark {
    color: var(--color-primary-alt) !important;
}

.l-blue-link {
    color: #337ab7 !important;
}

.background-white {
    background-color: #ffffff;
}

.background-light-gray {
    background-color: #f3f3f3;
}



/****************************/
/* PAGES-INDEX-HOME */
/****************************/






// .hero-text {
//     position: absolute;
//     max-width: 100%;
//     display: flex;
//     align-items: center;
//     height: 400px;
//     z-index: 1;
// } 
// @media screen and (max-width:480px){
//     .hero-text {
//         height: 300px;
//     } 
// }



  


// .main-hero-subheader {
//     font-size: 1.3rem;
//     font-weight: 300;
//     color: white;

//     animation: moveInRight 1s ease-out; 
// }
// @media screen and (max-width:1024px){
//     .main-hero-subheader {
//         font-size: 1.1rem;
//     } 
// }
// @media screen and (max-width:768px){
//     .main-hero-subheader {
//         font-size: 1rem;
//     } 
// }


/***** AIRPORT SYSTEMS DESIGNERS *****/

// .section-asd {
//     padding: 2rem 1.5rem 2.7rem 1.5rem;
//     text-align: center;
//     display: flex;
//     justify-content: center;
// }

// .wrapper-asd {
//     max-width: 1300px;
//     margin: 0 auto;
// }

// .sub-heading {
//     font-size: 24px;
//     color: #a1a1a1;
//     font-family: 'roboto condensed', sans-serif;
//     font-weight: 300;
// }

/***** OUR SERVICES *****/

// .wrapper-services {
//     max-width: 100%;
//     background-color: #f3f3f3;
//     padding: 50px 1rem 75px 1rem;
// }

// .container-services {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-between;
//     align-items: center; 
// }

// .card {
//     max-width: 300px;
//     padding-bottom: 20px;
//     height: auto;
//     background-color: white;
//     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
//     transition: 0.2s; 
//     border: 0px !important;
// }

// .image-box {
//     overflow: hidden;
//     max-width: 300px;
//     background-size: cover; 
// }

// .image-box img {
//     max-width: 100%;
//     transition: all 0.3s;
//     display: block;
//     width: 100%;
//     transform: scale(1);
// }

// .card:hover img {
//     transform: scale(1.1);
// }

// .card p {
//     padding: 16px 0px 10px 0px;
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 22px;
//     line-height: 1.6;
// }

// .services-text {
//     padding: 15px 20px 0px 20px;
// }

// .services-text h3 {
//     font-size: 22px;
// }

// .card:hover .btn-general {
//     background-color: #0078db; 
// }

// .card:hover {
//     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
// }




/***** SUBSCRIBE *****/

// .news-subscribe {
//     max-width: 1140px;
//     margin: 0 auto;
   
//     &__container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 1.5rem 1.5rem .5rem 1.5rem;
//         margin-bottom: 2.5rem;
//         background-color: #fff;
//         box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
//     }
// }




// .wrapper-subscribe {
//     max-width: 100%;
//     height: auto;
//     background-color: white;
// }
// .container-subscribe {
//     max-width: 1300px;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-between;
//     align-items: center;
//     padding: 40px 0px;
// }

// .container-subscribe h5 {
//     font-family: 'roboto condensed', sans-serif;
//     padding-bottom: 10px;
//     font-size: 32px; 
//     color: #333333;
//     font-weight: 300;
// }
// #subscribe {
//     margin-left: 15px;
//     max-width: 400px;
// }
// .e-mail {
//     width: 275px; 
//     margin-right: 10px;
//     font-family: 'roboto condensed', sans-serif;
//     text-transform: uppercase;
//     font-size: .9rem;
// }
// .submit-btn {
//     border: none;
//     width: 100px;
//     background-color: white;
//     border: 1px solid #0096DB;
//     color: #0096DB;
//     font-family: 'roboto condensed', sans-serif;
//     text-transform: uppercase;
//     font-size: .9rem;
//     transition: 0.2s;
//     border-radius: 2px;
// }

// .submit-btn-02 {
//     border: none;
//     width: 120px;
//     background-color: white;
//     border: 1px solid #0096DB;
//     color: #0096DB;
//     font-family: 'roboto condensed', sans-serif;
//     text-transform: uppercase;
//     font-size: .9rem;
//     transition: 0.2s;
//     border-radius: 2px;

//     @media screen and (max-width:1300px) {
//         display: none;
//         }
// }
// .submit-btn:hover {
//     background-color: #0078db;
//     color: white; 
// }
// .submit-btn-02:hover {
//     background-color: #0078db;
//     color: white !important; 
// }

/****************************/
/* PAGES-ABOUT US */
/****************************/
/*   
.img-placeholder-denver {
    max-width: 100%;
    height: auto;
} */
// .paragraph__title {
//     color: var(--color-primary-dark);
//     font-weight: 500;
//     font-size: 1.2rem;
// }
// .general-wrapper {
//     max-width: 1300px;
//     margin: 0 auto;
// }
// @media screen and (max-width:1024px) {
//     .general-wrapper {
//         width: 700px;
//     }
// }
// @media screen and (max-width:768px) {
//     .general-wrapper {
//         width: 100%;
//     }
// }

// .general-container {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     margin-top: 70px;
// }

// @media screen and (max-width:1024px) {
//     .general-container {
//         max-width: 700px;
//     }

// @media screen and (max-width:768px) {
//     .general-wrapper {
//         width: 100%;
//     }
// }

// .general-text {
//     max-width: 595px;
//     margin: 0px 0px 0px 0px;
// }
// .general-text-02 {
//     max-width: 725px;
//     margin: 30px 0px 0px 0px;
// }

// .general-text p {
//     margin: 10px 0px 50px 0px; 
// }
// .general-text-02 p {
//     margin: 10px 0px 50px 0px; 
// }

// .general-text-wide h3 {
//     margin: 40px 0px 0px 0px; 
// }
// .general-text-wide p {
//     margin: 10px 0px 0px 0px; 
// }
// .wrapper-staff {
//     width: 100%;
//     background-color: #f3f3f3;
//     margin-top: 70px;
// }
// .container-staff-all {
//     max-width: 1300px;
//     margin: 0 auto;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 70px 0px 50px 0px;
// }

// .container-staff {
//     max-width: 375px;
//     height: auto;
//     display: flex;
//     flex-direction: column;
// }
// .card-staff {
//     max-width: 400px;
//     display: flex;
// }
// .card-staff img{
//     margin-right: 5px;
//     transition: .2s;
//     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
// }
// .card-staff img:hover {
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// }

// .staff-header {
//     margin-top: 125px;
//     margin-left: 15px;  
// }


// .staff-text {
//     margin-top: 15px;
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 1.6;

//     @media screen and (max-width:1300px) {
//         font-size: 1rem;
//         display: none;
//     }
// }

// .staff-text-hide {
//     display: none;
//     margin-top: 15px;
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 1.6;

//     @media screen and (max-width:1300px) {
//         display: block;
//     }
// }
/* .staff-readmore {
    display: block;
    width: 75px;
    padding-top: 15px;
    font-family: 'roboto condensed', sans-serif;
    font-size: 1.1rem;
    color: #19AAE0;
    font-weight: 500;
} */
/* .staff-readmore:hover {
    text-decoration: underline;
} */

// .leadership-wrapper {
//     max-width: 1300px;
//     margin: 0 auto;
//     margin-top: 150px;
// }
// .leadership-header {
//     text-transform: capitalize;
// }

// .leadership-container {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     margin-bottom: 70px;   
// }
// .leadership-text {
//     max-width: 925px;
//     margin-top: 25px;
// }
// .leadership-column {
//     max-width: 285px;
//     display: flex;
//     flex-direction: column;
//     margin-left: 50px;
// }
// .leadership-column p {
//     font-size: .9rem;
//     line-height: 22px;
//     padding: 5px 0px 0px 0px;
// }
// .leadership-column h3 {
//     padding-top: 15px;
// }
// .img-leadership {
//     width: 285px;
//     height: auto;
// }



/****************************/
/* projects */
/****************************/
// .iconImage {
//     width: 20px;
//     height: 20px;
// }

// #map {
//     height: 700px;
//     width: 100%;

//     @media screen and (max-width: 480px) {
//         height: 300px;
//     }
// }
// .briefs-container {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     padding: 0 1.5rem;
//     margin-bottom: 70px;
// }
// .about-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     max-width: 1300px;
//     margin: 0 auto;
// }
// .briefs-container img {
//     max-width: 100%;
//     height: auto;
// }
// .about-container img {
//     width: 100%;
// }
// .briefs-text {
//     max-width: 600px;
//     margin: 30px 0px 0px 0px;
// }
// .about-text {
//     max-width: 600px;
// }
// .briefs-text p {
//     margin: 30px 0px 30px 0px;
// }

// .wrapper-clients {
//     width: 100%;
//     height: 450px;
//     background-color: #f3f3f3;
//     margin: 75px 0px 25px 0px;
//     padding-top: 75px;
// }
// .container-clients {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-around;
//     align-items: center; 
//     padding-left: 15px;
// }
// .wrapper-clients img {
//     max-width: 100%;
//     height: auto;
// }

/****************************/
/* projects-logos */
/****************************/

// .container-client-logos {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-around;
//     align-items: center; 
//     padding-left: 15px;
// }

// .drop-down-container {
//     max-width: 1300px;
//     display: flex;
//     margin: 0 auto;
//     padding-bottom: 50px;
//     justify-content: space-around;
// }

// .additional-logos {
//     display: none;   
//   }

// .logo-container {
//     display: flex;
//     margin-bottom: 20px;
//     justify-content: space-around;
// }

// .logo-column {
//     display: flex;
//     flex-direction: column;
// }

// .logo:hover {
//     filter: none;
//     opacity: 1;
// }

// .logo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 164px;
//     height: 118px;
//     filter: grayscale(100%);
//     opacity: .5;
//     margin: 10px;
//     transition: 0.1s;
// }

// .logo div img {
//     width: 144px;
// }

// .logo-flex {
//     display: flex;
// }

// .logo-column {
//     display: flex;
//     flex-direction: column;
// }

// .arrow-down {
//     cursor: pointer;
//     position: relative;
//     margin: 25px 0px 50px 0px;
//     padding: 0px 150px 0px 150px;
// }

// .client-flex {
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-around;
//     flex: 1;
//     flex-direction: row;
//     flex-wrap: wrap;
// }
// .client-columns {
//     height: auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .client-card {
//     max-width: 400px;
//     height: 325px;
//     margin: 0px 15px 65px 15px;
//     // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
// }

// .client-image-box {
//     max-width: 400px;
//     height: auto;  

//     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px;
// }
// .client-image-box img {
//     width: 100%;
//     height: auto; 
//     /* clip-path: polygon(0px 0px, 100% 0px, 100% 5%, 0px 100%); */
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px; 
// }
// .client__header{
//     text-align: center;
//     margin-top: 1rem;
//     font-weight: 400; 
//     font-size: 24px; 
//     color: var(--color-primary-alt) !important; 
// }

// .client__header--center {
//     text-align: center;
//     margin-top: 1.5rem;
//     font-weight: 400; 
//     font-size: 24px;  
//     color: var(--color-primary-alt) !important;
// }


/****************************/
/* CONTACTS */
/****************************/

// .hero-text-contact {
//     color:white;
//     position: absolute;
//     width: 100%; 
//     margin-top: 300px;
//     text-align: center;
//     z-index: 5;
// }
//   .hero-header-contact {
//     font-size: 54px;
//     font-weight: 400;
//     letter-spacing: 4px;
//     margin-bottom: 5px;
//     letter-spacing: 3px;
// }
// .hero-subtext-contact {
//     font-size: 18px;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     font-weight: 300;
// }

// .hero-img-contact{
//     position: relative;
//     height: 600px;
//     background-image: 
//     linear-gradient(
//         to right bottom,
//         rgba(63,160,255,0), 
//         rgba(0,74,145,0.0)),
//      url(/images/contact-hero-03.jpg);
//     background-size: cover;
//     background-position: center center; 
//   }
//   .form-container{
//     max-width: 1300px;
//     height: auto;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     /* margin-bottom: 70px;    */
// }
// #mc_embed_signup {
//     width: 925px;
//     height: auto;
//     /* margin-right: 25px; */
// }
// .top-contact-row {
//     max-width: 925px;
//     display: flex;
//     justify-content: flex-start;
// }
// .contact-input {
//     margin-bottom: 25px;
//     margin-right: 25px;
// }
// .response {
//     margin-bottom: 15px;
// }
// .message {
//     max-width: 100%;
//     background-color: #f3f3f3;
//     border: 1px solid #c2c2c2;
//     font-family: 'roboto', sans-serif;
//     padding: 10px 0px 108px 10px;
//     font-size: 1rem;
//     border-radius: 2px;
// }

// .contact-container {
//     width: 325px;
//     margin-left: 35px;
// }

// .contact-flex-test {
//     display: flex;
//     align-items: center;
//     margin-bottom: 1rem;
//     /* align-items: center; */
// }

// .contact-flex-test p {
//     margin: 0px !important;
//     padding: 0px !important;
// }

// .contact-icon-border {
//     margin: 3px 15px 3px 3px;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     width: 36px;
//     height: 36px;
//     border-radius: 2px;
//     border: 1px solid #c2c2c2;
//     background-color: #f3f3f3;;
// }
// .contact-link {
//     display: inline-block;
//     color: #337ab7;
//     font-weight: 500;
// }
// .contact-link:hover {
//     text-decoration: underline;
// }
// #mapDenver {
//     height: 450px;
//     width: 100%;
// }

// .contact-flex {
//     max-width: 1200px;
//     height: auto;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-around;
//     flex: 1;
//     flex-direction: row;
//     flex-wrap: wrap;
// }
// .contact-card {
//     display: flex;
//     text-align: center;
//     margin: 0px 15px 75px 15px;
// }

// .contact-text p {
//     width: 100%;
//     align-items: center;
//     font-size: 1rem;
//     line-height: 28px;
//     font-weight: 300;
// }

// .contact-text h3 {
//   font-weight: 400;
//   margin-bottom: 10px;
// }

// .cardLeft {
//     margin-left: 175px;
// }

// .cardRight {
//     margin-right: 150px;
// }

// .spacer {
//     height: 75px;
//     height: 50px;
// }




// .wrapper-contact-hero {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     height: 600px;
//     /* background-image: url(/images/contact-hero.jpg); */
//     background-color: lightgray;
//     background-size: cover;
//     background-position: center;
//   }   

//   .wrapper-contact-hero h1 {
//       position: absolute;
//       top: 50%;
//       right: 46%;
//   }   

  /***** CAREERS *****/




  /* .contact-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      padding-top: 28px;
  } */

 /* .horz-divider {
    height: 175px;
    margin-top: 35px;
    border: .5px solid rgb(233, 233, 233);
  } */
 
  /* .icon-space {
      margin-right: 11px;
  } */
/* 
.contact-column-text {
    display: flex;
} */

/****************************/
/* gallery */
/****************************/

/* .row {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 125px;
    padding-bottom: 50px;
} */

// .column {
//     flex: 25%;
//     max-width: 25%;
//     padding: 0 4px;
// }

// .column img {
//     margin-top: 8px;
//     vertical-align: middle;
//     width: 100%;
// }


/*****************************************************************************/
/* BREAKPOINTS */
/*****************************************************************************/

/****************************/
/* 1440-BP */
/****************************/
// @media screen and (max-width:1440px) {

// }

/****************************/
/* 1300-BP */
/****************************/
// @media screen and (max-width:1300px) {
/****************************/
/* PAGES-INDEX-HOME */
/****************************/
    // .container-services {
    //     display: grid;
    //     grid-template-columns: auto auto;
    //     max-width: 850px;
    // }
    // .card {
    //     max-width: 425px;
    //     margin: 15px;  
    // } 
    // .image-box {
    //     max-width: 400px; 
    // } 
    // .image-box img {
    //     height: auto;
    // }
    // .card p {
    //     height: 110px;
    // } 
    // .container-subscribe {
    //     flex-direction: column;
    //     max-width: 850px;
    //     align-items: flex-start; 
    // }
    // form {
    //     margin-left: 0px;
    // }
    // .e-mail {
    //     margin: 20px 10px 0px 0px;   
    // }


    
   
  
    // .briefs-container {
    //     max-width: 1100px;
    // }
    // .about-container {
    //     max-width: 1050px;
    // }
    // .briefs-container img {
    //     min-width: 525px;
    //     padding-right: 15px;
    // }
    // .about-container img {
    //     min-width: 525px;
    //     padding-left: 30px;
    // }
   

    // .client-card {
    //     margin-bottom: 30px;
    // }
   
  
    // #subscribe {
    //     margin-left: 0px;
    // }



 
    // .container-staff-all {
    //     flex-direction: column;
    //     max-width: 1050px;
    //     padding-bottom: 0px;
    // }
    // .container-staff {
    //     max-width: 1050px;
    // }
    // .card-staff {
    //     max-width: 600px;
    // }
    // .card-staff img {
    //     width: 175px;
    // }
    // .staff-text {
    //     font-size: 1rem;
    //     display: none;
    // }
    // .staff-readmore {
    //     padding-bottom: 50px;
    // }  
    
    // .general-text-02 {
    //     max-width: 1050px;
    //     margin-top: 0px;
    // }
    // .img-placeholder-denver {
    //     display: none;
    // }


    // .form-container {
    //     max-width: 1050px;
    // }


    // #mapDenver {
    //     width: 1050px;
    // }
    // .top-contact-row {
    //     flex-direction: column;  
    // }
    // .contact-flex {
    //     max-width: 850px; 
    // }
    // .cardLeft {
    //     margin-left: 0px;
    // }
    // .cardRight {
    //     margin-right: 0px;
    // }
    // .contact-card {
    //     margin: 0px 25px 75px 25px;
    // }
    // .contact-input-02 {
    //     margin-bottom: 25px;
    // }
    // #mc_embed_signup {
    //     width: 650px;
    // }   
    // .contact-container {
    //     margin-left: 35px;
    // }
    // .leadership-wrapper {
    //     max-width: 1050px;
    // }
    // .staff-text-hide {
    //     display: block;
    // }
   
// }   

/****************************/
/* 950-BP */
/****************************/
// @media screen and (max-width:950px) {
/****************************/
/* PAGES-ABOUT US */
/****************************/
    // .hero-secondary__text-container {
    //     padding-right: 3rem;
    //     background: linear-gradient(105deg,
    //     rgba(0,150,219,0.7),
    //     rgba(0,52,120,0.7));
    //     width: 100%;
    // }
    


//    .briefs-container {
//         flex-direction: column;
//         align-items: center;
//     }
//    .about-container {
//         flex-direction: column;
//     }
    // .briefs-container img {
    //     margin: 0px 0px 35px 0px;
    //     padding: 0px;  
    // }
    // .about-container img {
    //     padding: 0px;
    //     margin: 0px; 
    // }
    // .column {
    //     flex: 50%;
    //     max-width: 50%;
    // }
    // .briefs-text {
    //     max-width: 615px;   
    // }
    // .about-text {
    //     max-width: 700px;   
    // }
    // .container-staff-all {
    //     flex-direction: column;
    //     max-width: 700px;
    // }
  
    /* .general-container {
        max-width: 700px;
    } */
    // .client-flex {
    //     max-width: 800px;
    // }
    // .general-padding-02 {
    //     padding: 0px 10px;
    // }
    // .form-container {
    //     flex-direction: column;
    //     // max-width: 450px;
    //     align-items: center; 
    //     // text-align: center;
    // }
    // #mc_embed_signup {
    //     max-width: 525px;
    // }
    // .contact-container {
    //     margin: 50px 0px 0px 0px;
    //     width: 325px;
    // }
    // .leadership-wrapper {
    //     max-width: 750px;
    // } 
// }

/****************************/
/* 768-BP */
/****************************/
// @media screen and (max-width:768px) {


    // .hero-secondary__text-container {
    //     padding-right: 1.5rem;
    //     padding-left: 1.5rem;  
    // }
    // .hero-secondary__header {
    //     font-size: 45px; 
    // }
    // .hero-secondary__sub-header {
    //     font-size: 20px; 
    // }
    
    // body {
    //     overflow-x: hidden;
    // }
    // .nav-links {
    //     position: absolute;
    //     right: 0px;
    //     height: 400px;
    //     top: 8vh;
    //     background-color: rgb(255, 255, 255);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     width: 100%;
    //     box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    //     transform: translateX(100%); 
    //     transition: transform 0.5s ease-in;
    // }
    // .nav-links li {
    //     opacity: 0;
    //     margin-bottom: 2rem;
    // }
    // .burger {
    //     display: block;
    // }
    // .container-services {
    //     display: flex;
    //     flex-direction: column;
    //     max-width: 850px;
    // }
    // .card {
    //     max-width: 400px;      
    // } 
   
    // .container-subscribe {
    //     max-width: 500px;
    // }
    

/****************************/
/* PAGES-CAREERS */
/****************************/
    // .section-careers-about {
    //     padding: 3.2rem 0;
    // }
    // .section-careers-why-bnp {
    //     padding: 3.2rem 0 4.7 0;
    // }



    // .card-staff img {
    //     width: 175px;

    //     @media screen and (max-width:480px) {
    //         width: 150px;
    //     }
    // }

    // .briefs-container img {
    //     min-width: auto;
    // }
    // .about-container img {
    //     min-width: auto;
    // }
    // .hero-text-test {
    //     margin-top: 300px;
    // }
    // #mc_embed_signup {
    //     max-width: 425px;
    // }
    // .hero-text-contact {
    //     margin-top: 250px;
    // }
    // .leadership-container {
    //     flex-direction: column;
    //     align-items: center;
    // }
    // .leadership-wrapper {
    //     max-width: 500px;
    //     margin-top: 125px;
    // }
    // .leadership-column {
    //     margin: 0px;
    //     margin-top: 50px;
    // }
    // nav li a:after {
    //     display: none;
    // }     
// }
 
/****************************/
/* 480-BP */
/****************************/
// @media screen and (max-width:480px) {
/****************************/
/* PAGES-INDEX-HOME */
/****************************/
    
    // .hero-secondary {
    //     height: 300px;
    //   } 
    // .hero-secondary__text-container {
    //     background: none;
    //     text-align: center; 
    // }
    // .hero-secondary__text-container br {
    //     display: none;
    // }
    // .hero-secondary__header {
    //     font-size: 40px; 
    // }
    // .--about {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/hero-about-02.jpg); 
    // }

    // .--datas {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/data-1.jpg); 
    // }

    // .--contact {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/hero-contact.jpg); 
    
    //   } 
    // .--contact {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/hero-contact-mobile.jpg); 
    
    //   } 
    // .--careers {  
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/jetbridge.jpg);  
    //   } 
    //   .--news {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/hero-newsletter.jpg); 
    //   }
    //   .--services {
    //     background-image: 
    //     linear-gradient(105deg, 
    //     rgba(0,150,219,0.5), 
    //     rgba(0,52,120,0.7)),
    //     url(/images/hero-services-alt.jpg); 
    //   }
   
    
    // .hero-img {
    //     height: 650px;
    // }
    // .hero-text-test {
    //     margin-top: 200px;
    // }
    // .hero-header-test {
    //     font-size: 52px;
    // }
    // .world {
    //     padding-bottom: 10px;
    //     font-size: 3.2rem;
    // }
    // .client-card {
    //     height: 325px;
    // }
    // nav {
    //     height: 75px;
    // }
    // .bnp-logo {
    //     max-width: 45px;
    // }
    
    // .column {
    //     flex: 100%;
    //     max-width: 100%;
    // }
    // .staff-header {
    //     margin-top: 100px;
    // }

/****************************/
/* PAGES-CONTACT */
/****************************/
    // #mc_embed_signup {
    //     max-width: 375px;
    // }
    // .submit-btn {
    //     margin-top: 15px;
    // }
    // .leadership-wrapper {
    //     margin-top: 100px;
    // }
    // .hero-img-contact{
    //     height: 400px;
    // }
    // .hero-text-contact {
    //     margin-top: 150px;
    // }
    // .hero-subtext-test {
    //     font-size: 1.2rem;
    // }
   
    // #map {
    //     height: 400px;
    // }
// }

/****************************/
/* 375-BP */
/****************************/
// @media screen and (max-width:375px) {
/****************************/
/* PAGES-INDEX-HOME */
/****************************/
    // .main-hero-header {
    //     font-size: 40px;
    // }
  
    // .center-headings__header {
    //     font-size: 30px;
    // }
    // .sub-heading {
    //     font-size: 22px;
    // }
/****************************/
/* PAGES-CONTACT */
/****************************/
// #mc_embed_signup {
//     max-width: 325px;
//     } 
// }

/****************************/
/* PAGES-ABOUT-US */
/****************************/




// .nav-active {
//     transform: translateX(0%);
//     -webkit-transform: translateX(0%);
//     -moz-transform: translateX(0%);
//     -ms-transform: translateX(0%);
//     -o-transform: translateX(0%);
// }

// @keyframes navLinkFade{
//     from{
//        opacity: 0;
//        -webkit-opacity: 0;
//        -moz-opacity: 0;
//        -ms-opacity: 0;
//        -o-opacity: 0;
//        -webkit-transform: translateX(50px);
//         -moz-transform: translateX(50px);
//         -ms-transform: translateX(50px);
//         -o-transform: translateX(50px);
//        transform: translateX(50px);
//     }
//     to{
//         opacity: 1;
//         -webkit-opacity: 1;
//         -moz-opacity: 1;
//         -ms-opacity: 1;
//         -o-opacity: 1;
//         -webkit-transform: translateX(0px);
//         -moz-transform: translateX(0px);
//         -ms-transform: translateX(0px);
//         -o-transform: translateX(0px);
//         transform: translateX(0px);
//     }
// }




// .table-container {
//     max-width: 1600px;
//     margin: 0 auto;
//     padding: 1rem;
// }

// div.dataTables_wrapper div.dataTables_info {
//     padding-top: 0.85em;
//     font-size: 14px;
// }










