// FEATURE BOX ///////////////////////////////////////////////
// SERVICES - ABOUT US - CAREERS //
// SHOWCASE BRIEFS CONTAINER - REPLACE WITH FEATURE BOX //////////////////////////////////////////////
// PROJECTS //
// PERKS BOX ///////////////////////////////////////////////
// CAREERS PERKS WITH ICONS //
// .perks-box {
//   background-color: rgba(white, 0.8);
//   font-size: 1.5rem;
//   padding: 2.5rem 2.5rem 0 2.5rem;
//   text-align: center;
//   border-radius: 3px;
//   height: 350px;

//   @media screen and (max-width: 1024px) {
//     padding-top: 1rem;
//     padding-bottom: 3rem;
//     height: auto;
//   }
//   @media screen and (max-width: 480px) {
//     padding: 1.5rem 0 2.5rem 0;
//   }
// }

// .flexbox-1-of-3 {
//   width: 33.3%;
// }
// @media screen and (max-width: 1024px) {
//   .flexbox-1-of-3 {
//     width: 500px;
//   }
// }
// @media screen and (max-width: 480px) {
//   .flexbox-1-of-3 {
//     width: 90%;
//   }
// }

// // ICON SIZE //
// .perks-box__logo {
//   width: 5rem;
// }

// .perks-box__text {
//   font-size: 15px;
//   font-weight: 300;
// }

// CARDS ///////////////////////////////////////////////
// CAREERS CARDS //

// INDEX CARDS - REDO AT SOME POINT //
// .card {
//   max-width: 300px;
//   padding-bottom: 20px;
//   height: auto;
//   background-color: white;
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//     0 2px 4px -1px rgba(0, 0, 0, 0.06);
//   transition: 0.2s;
//   border: 0px !important;

//   @media screen and (max-width: 1300px) {
//     max-width: 425px;
//     margin: 15px;
//   }
//   @media screen and (max-width: 768px) {
//     max-width: 400px;
//   }
// }

// .image-box {
//   overflow: hidden;
//   max-width: 300px;
//   // background-size: cover;
//   @media screen and (max-width: 1300px) {
//     max-width: 400px;
//   }
// }

// .image-box img {
//   max-width: 100%;
//   display: block;
//   width: 100%;
//   transition: all 0.3s;
//   transform: scale(1);

//   @media screen and (max-width: 1300px) {
//     height: auto;
//   }
// }

// .card:hover img {
//   transform: scale(1.1);
// }

// .card p {
//   padding: 16px 0px 10px 0px;
//   font-size: 15px;
//   font-weight: 300;
//   line-height: 22px;
//   line-height: 1.6;

//   // @media screen and (max-width:1300px) {
//   //     height: 110px;
//   // }
// }

// UNDERLINES //
.underline {
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
}

// .feature-box-img-2 {
//     max-width: 600px;
// }

// QUOTE BOX - NEWS //
// .flexbox-1-of-2-quote-lg {
//     width: 70%;
// }
// @media screen and (max-width:1024px){
//     .flexbox-1-of-2-quote-lg {
//         width: 700px;
//     }
// }
// @media screen and (max-width:768px){
//     .flexbox-1-of-2-quote-lg {
//         width: 95%;
//     }
// }

// .flexbox-1-of-2-quote-sm {
//     width: 30%;

//     display: flex;
//     justify-content: center;
// }
// @media screen and (max-width:1024px){
//     .flexbox-1-of-2-quote-sm {
//         width: 700px;
//         margin-top: 2rem;
//     }
// }
// @media screen and (max-width:768px){
//     .flexbox-1-of-2-quote-sm {
//         width: 95%;
//     }
// }

// .quote-box {
//     max-width: 400px;
//     padding: 2rem;
//     background-color: #f3f3f3;
//     border: 1px solid #c4c4c4;
//  }

//  @media screen and (max-width:1024px){
//     .quote-box {
//         max-width: 100%;
//         padding: 1.5rem;
//     }
// }

// MAPS ///////////////////////////////////////////////
// PROJECTS MAP //
// .map-title {
//   font-size: var(--font-med);
// }

.map-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primary);
}

.map-link:hover {
  text-decoration: underline !important;
}

#map {
  height: 700px;
  width: 100%;

  @media screen and (max-width: 480px) {
    height: 300px;
  }
}

// CUSTOM ICON ON MAP //
.iconImage {
  width: 20px;
  height: 20px;
}

// // DENVER MAP //
// .map-container {
//   max-width: 1300px;
//   height: auto;
//   display: flex;
//   margin: 0 auto;
//   justify-content: space-around;
//   align-items: center;
// }

// MAP LEGEND //
// .legend {
//   margin: 0 auto;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;

//   @media screen and (max-width: 768px) {
//     font-weight: 300;
//   }
// }

// .legend p {
//   margin: 0 !important;
// }

// .legend__icon {
//   display: flex;
//   margin-left: 1rem;
//   margin-right: 1rem;

//   &--01 {
//     margin-right: 0.75rem;
//     height: 2rem;
//   }

//   @media screen and (max-width: 480px) {
//     margin-bottom: 0.5rem;
//   }
// }

// MAPS ///////////////////////////////////////////////
// LEAFLET JS MAP //

// #mapid {
//   margin: 5rem auto;
//   max-width: 1300px;
//   height: 480px;
// }

// DATA TABLE ///////////////////////////////////////////////
// BOOTSTRAP DATA TABLE & WRAPPER //
// .table-container {
//   max-width: 1400px;
//   margin: 0 auto;
//   padding: 1rem;
// }

// div.dataTables_wrapper div.dataTables_info {
//   padding-top: 0.85em;
//   font-size: 14px;
// }

// // 50TH ANNIVESARY BUTTON BANNER //
// .anniversary-container {
//   position: relative;
//   z-index: 2;
//   top: 1rem;
//   max-width: 65rem;
//   animation: moveInBottom 0.5s ease-out 0.75s;
//   animation-fill-mode: backwards;

//   @media screen and (max-width: 991.98px) {
//     flex-direction: column;
//     top: 2rem;
//   }
//   @media screen and (max-width: 480px) {
//     top: 1rem;
//   }

//   &__img {
//     z-index: 2;
//     margin-left: 5rem;
//     width: 14rem;

//     @media screen and (max-width: 991.98px) {
//       margin-left: 0;
//       width: 10rem;
//       display: none;
//     }
//   }

//   &__text {
//     z-index: 2;
//     margin-right: 5rem;

//     @media screen and (max-width: 991.98px) {
//       margin-right: 0;
//     }

//     &-heading {
//       font-size: 40px;
//       font-weight: 500;
//       color: var(--white);

//       @media screen and (max-width: 991.98px) {
//         margin-right: 0;
//         font-size: 32px;
//       }
//       @media screen and (max-width: 480px) {
//         font-size: 24px;
//       }
//     }
//   }

//   &__background {
//     position: absolute;
//     z-index: 1;
//     height: 180px;
//     width: 100%;
//     background-image: linear-gradient(105deg, rgba(0, 150, 219, 0.5),rgba(0, 52, 120, 0.7));
//     clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);

//     @media screen and (max-width: 991.98px) {
//       width: 80%;
//       height: 150px;
//     }
//     @media screen and (max-width: 480px) {
//       height: 110px;
//       // display: none;
//     }
//   }
// }

// BUTTONS ///////////////////////////////////////////////
// DEFAULT BUTTON STYLE //


// BLOG - SHARE BUTTONS //
// .share-links-container {
//   max-width: 875px;
//   margin: 0 auto;
//   padding: 0 1.5rem;
// }

// .share-links {
//   max-width: 210px;
//   display: flex;
//   justify-content: space-between;
// }

// .share-btn {
//   width: 6rem;
//   padding: 0.5rem;
//   border-radius: 3px;

//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   align-content: center;

//   &__icon {
//     color: #fff;
//     font-size: 20px;
//   }

//   &__text {
//     color: #fff !important;
//     font-family: "roboto", sans-serif;
//     font-size: 12px;
//   }
// }

// .--linkedin {
//   background-color: #0072b1;
// }
// .--email {
//   background-color: var(--color-primary-alt);
// }

// INDEX SLIDESHOW ///////////////////////////////////////////////
// #slideshow {
//   position: relative;
//   max-width: 100%;
//   height: 675px;

//   display: flex;
//   justify-content: content;
//   align-items: center;
//   overflow: hidden;
// }
// .slideshow__img {
//   position: absolute;
//   width: 100%;
//   height: 675px;
//   background-image: linear-gradient(
//       to right,
//       rgba(0, 19, 44, 0.6),
//       rgba(0, 12, 29, 0.6)
//     ),
//     url(/images/hero-01-crop.jpg);
//   background-size: cover;
//   background-position: 50%, 50%;
// }
// .slideshow__img-02 {
//   position: absolute;
//   width: 100%;
//   height: 675px;
//   background-image: linear-gradient(
//       to right,
//       rgba(0, 19, 44, 0.6),
//       rgba(0, 12, 29, 0.6)
//     ),
//     url(/images/hero-main-02.jpg);
//   background-size: cover;
//   background-position: 50%, 50%;
// }
// .slideshow__text-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   z-index: 100;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   color: white;
// }

// POPUPS ///////////////////////////////////////////////
// ABOUT US - READ MORE -POPUPS //
// DAVE //

// VIDEO IMG BACKGROUND FOR SINGLE COMPONENTS ///////////////////////////////////////////////
// .body-background {
//   background-color: #333333;
// }
// .body-background__center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// VIDEO SETTINGS //
.bg-video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// HOLIDAY CARD SETTINGS //
.holiday-card {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding-top: 6rem;

  @media screen and (max-width: 1300px) {
    padding-top: 0rem;
    width: 100%;
  }
}

// .embed-container-cc iframe,
// .embed-container-cc object,
// .embed-container-cc embed {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// CONTACT ICONS ///////////////////////////////////////////////
ion-icon {
  font-size: 22px;
}

.nav-icon {
  font-size: 15px;
  margin-right: 0.1rem;
  color: var(--color-primary-hover);
}
