// ABOUT US ///////////////////////////////////////////////
// READ MORE - PRINCIPALS //
// .general-container {
//   max-width: 1300px;
//   height: auto;
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
//   margin-top: 70px;

//   @media screen and (max-width: 1024px) {
//     max-width: 700px;
//   }
//   @media screen and (max-width: 480px) {
//     margin-top: 50px;
//   }
// }

// .general-text-02 {
//   max-width: 725px;
//   margin: 30px 0px 0px 0px;

//   @media screen and (max-width: 1300px) {
//     max-width: 1050px;
//     margin: 0 auto;
//   }

//   @media screen and (max-width: 1024px) {
//     max-width: 1050px;
//     margin-top: 0px;
//   }
// }

// .general-text-02 p {
//   margin: 10px 0px 50px 0px;
// }

// .general-text-wide {
//   @media screen and (max-width: 1300px) {
//     max-width: 1050px;
//     margin: 0 auto;
//   }
// }

// .general-text-wide h3 {
//   margin: 40px 0px 0px 0px;

//   @media screen and (max-width: 1300px) {
//     margin: 0;
//   }
// }

// .general-text-wide p {
//   margin: 10px 0px 50px 0px;
// }

// .general-wrapper {
//   max-width: 1300px;
//   margin: 0 auto;

//   @media screen and (max-width: 1024px) {
//     width: 700px;
//   }
//   @media screen and (max-width: 768px) {
//     width: 100%;
//   }
// }

// SERVICES ///////////////////////////////////////////////
// BLUE BULLET //
// SECTIONS //

// .section-services-hero-label {
//   background-color: #f3f3f3;
//   padding: 2.7rem 0;
// }

// .section-services-text {
//   padding: 3.2rem 0px 0 0px;
//   margin: 0 auto;
// }

// .section-services-baggage {
//   padding-top: 3.2rem;
// }

// .section-services-cargo {
//   padding-top: 3.2rem;
// }

// .section-services-simulation {
//   padding-top: 3.2rem;
// }

// SIMULATION BORDERS //
// .simulation__img {
//   width: 100%;
// }

// .simulation__img {
//   width: 100%;
//   // border: 1px solid #c4c4c4;
// }

// PROJECTS ///////////////////////////////////////////////
// OUR CLIENTS - WORK IN PROGRESS //
// .client-flex {
//   max-width: 1300px;
//   height: auto;
//   display: flex;
//   margin: 0 auto;
//   justify-content: space-around;

//   @media screen and (max-width: 1025px) {
//     flex-wrap: wrap;
//   }
// }

// .client-card {
//   max-width: 400px;
//   height: 325px;
//   margin: 0px 15px 65px 15px;

//   @media screen and (max-width: 1300px) {
//     margin-bottom: 30px;
//   }
//   @media screen and (max-width: 480px) {
//     height: 325px;
//   }
// }

// .client-image-box {
//   max-width: 400px;
//   height: auto;

//   -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
// }

// .client-image-box img {
//   width: 100%;
//   height: auto;
//   border-top-left-radius: 3px;
//   border-top-right-radius: 3px;
// }

// .client__header {
//   text-align: center;
//   margin-top: 1rem;
//   font-weight: 400;
//   font-size: 24px;
//   color: var(--color-primary-alt) !important;
// }

// .client__header--center {
//   text-align: center;
//   margin-top: 1.5rem;
//   font-weight: 400;
//   font-size: 24px;
//   color: var(--color-primary-alt) !important;
// }

// CONTACT ///////////////////////////////////////////////
// FORMS //
// .form-container {
//   max-width: 1300px;
//   height: auto;
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
//   /* margin-bottom: 70px;    */

//   @media screen and (max-width: 1300px) {
//     max-width: 1050px;
//   }
//   @media screen and (max-width: 950px) {
//     flex-direction: column;
//     // max-width: 450px;
//     align-items: center;
//     // text-align: center;
//   }
//   @media screen and (max-width: 480px) {
//     align-items: flex-start;
//   }
// }

// #mc_embed_signup {
//   width: 925px;
//   height: auto;
//   /* margin-right: 25px; */

//   @media screen and (max-width: 1300px) {
//     #mc_embed_signup {
//       width: 650px;
//     }
//   }
//   @media screen and (max-width: 950px) {
//     max-width: 525px;
//   }
//   @media screen and (max-width: 768px) {
//     max-width: 425px;
//   }
//   @media screen and (max-width: 480px) {
//     max-width: 100%;
//   }
//   // @media screen and (max-width:375px) {
//   //     max-width: 325px;
//   // }
// }

// .contact-container {
//   width: 325px;
//   // margin-left: 35px;

//   // @media screen and (max-width: 1300px) {
//   //   // margin-left: 35px;
//   // }
//   // @media screen and (max-width: 950px) {
//   //   // margin-top: 50px;
//   //   // padding: 50px 1.5rem 0px 1.5rem;
//   //   // width: 325px;
//   //   // margin-left: 0;
//   // }
// }

// .top-contact-row {
//   max-width: 925px;
//   display: flex;
//   justify-content: flex-start;

//   @media screen and (max-width: 1300px) {
//     flex-direction: column;
//   }
// }

// .contact-input {
//   margin-bottom: 25px;
//   margin-right: 25px;
// }

// @media screen and (max-width: 1300px) {
//   .contact-input-02 {
//     margin-bottom: 25px;
//   }
// }

// .response {
//   margin-bottom: 15px;
// }

// .message {
//   max-width: 100%;
//   background-color: #f3f3f3;
//   border: 1px solid #c2c2c2;
//   font-family: "roboto", sans-serif;
//   padding: 10px 0px 108px 10px;
//   font-size: 1rem;
//   border-radius: 2px;
// }

// ICONS //
// .contact-flex-icons {
//   display: flex;
//   align-items: center;
//   margin-bottom: 1rem;
//   /* align-items: center; */
// }

// .contact-flex-icons p {
//   margin: 0px !important;
//   padding: 0px !important;
// }

// .contact-icon-border {
//   margin: 3px 15px 3px 3px;
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   width: 36px;
//   height: 36px;
//   border-radius: 2px;
//   border: 1px solid #c2c2c2;
//   background-color: #f3f3f3;
// }

// SECTIONS //
// .section-contact-map {
//   padding: 4.7rem 0;

//   @media screen and (max-width: 480px) {
//     padding: 2rem 0 3rem 0;
//   }
// }

// DENVER MAP //
// #mapDenver {
//   height: 450px;
//   // width: 100%;

//   // @media screen and (max-width: 1300px) {
//   //   width: 1050px;
//   // }
// }

// CONTACT LOCATIONS CONTAINER //
// .contact-flex {
//   max-width: 1300px;
//   display: flex;
//   margin: 0 auto;
//   justify-content: space-evenly;
//   flex-wrap: wrap;
// }

// .contact-card {
//   width: 25rem;
//   text-align: center;
//   margin: 0px 1rem 4.5rem 1rem;
// }

// .contact-text p {
//   line-height: 28px;
//   font-weight: var(--font-thin);
// }

// CAREERS ///////////////////////////////////////////////
// SECTIONS //
// NEWS ///////////////////////////////////////////////
// FLEXBOX GRID //
.section-news {
  background-color: #fff;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 3.1rem;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.post-link {
  width: 31%;
  @media screen and (max-width: 1024px) {
    width: 500px;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.post-link:not(:last-child) {
  @media screen and (max-width: 1024px) {
    margin-bottom: 3.1rem;
  }
}

.post-link:hover .post-item__thumbnail-img {
  transform: scale(1.05);
}

.post-link:hover .post-item {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.post-item {
  height: 30rem;
  box-shadow: var(--shadow-md);
  transition: all 0.2s;

  @media screen and (max-width: 1024px) {
    height: auto;
  }

  .post-item__thumbnail {
    overflow: hidden;
  }

  .post-item__thumbnail-img {
    max-width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.2s;
  }

  .post-item__info {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;

    .post-item__info-heading {
      width: 100%;
      font-size: 22px !important;
      color: var(--color-primary-alt) !important;
    }

    .post-item__info-text {
      font-weight: 300;
      font-size: 15px;
      line-height: 1.6;
    }
    .post-item__info-published {
      font-weight: 300;
      font-size: 13px;
    }
  }
}

// NEWSLETTER SUBSCRIBE //
// .news-subscribe {
//   max-width: 1140px;
//   margin: 0 auto;

//   &__container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 1.5rem 1.5rem 0.5rem 1.5rem;
//     margin-bottom: 2.5rem;
//     background-color: #fff;
//     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//       0 2px 4px -1px rgba(0, 0, 0, 0.06);
//   }
// }

// BLOG ///////////////////////////////////////////////
// ARTICLES //

/* NEWS POSTS */
.news p {
  line-height: 28px;
}

.blog {
  max-width: 750px;
  margin: 0 auto;
}

.blog p {
  line-height: 28px;
}

.blog-headings {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 60px;

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }

  &__header {
    font-size: 40px;

    @media screen and (max-width: 480px) {
      font-size: 32px;
    }
  }

  // LINKEDIN FOLLOWING AND PUBLISHED DATE //
  &__author-container {
    display: flex;
  }

  &__published-date {
    font-size: 0.9rem;
    margin-left: 1rem;
  }
}

.blog-img-container {
  max-width: 750px;
  margin-bottom: 2.5rem;

  &__img {
    width: 100%;
  }

  &__caption {
    margin-top: 1rem;
    color: var(--color-primary);
  }
}

.img-550 {
  width: 100%;
  max-width: 550px;
}

.img-600 {
  width: 100%;
  max-width: 600px;
}

.blog-story__headings {
  font-size: 28px;
}

.blog-story p {
  margin-bottom: 40px;
}

/* GRID EMPLOYEES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// .story::first-letter {
//   color: var(--color-primary);
//   border-radius: 2px;
//   border: 1px solid var(--color-primary);
//   box-shadow: 3px 3px 0 var(--color-primary);
//   font-size: 250%;
//   padding: .5rem .3rem;
//   margin-right: .5rem;
//   float: left;
// }

.employees-wrapper {
  max-width: 875px;
  margin: 2rem auto;

  figcaption {
    font-family: roboto condensed;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-primary-alt);
    text-align: center;

    @media only screen and (max-width: 900px) {
      font-size: 1.125rem;
    }
    @media only screen and (max-width: 480px) {
      font-size: 1rem;
    }

    span {
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-primary-font);
      display: block;
      // margin-top: .25rem;

      @media only screen and (max-width: 900px) {
        font-size: 0.9rem;
      }
    }
  }

  h3 {
    font-size: 38px;
    font-weight: 300;

    @media only screen and (max-width: 900px) {
      font-size: 34px;
    }
  }
}

.grid-employees {
  margin: 1.5rem 0 1rem;
  max-width: 875px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 175px));
  grid-template-rows: auto;

  // align grid tracks to grid container
  justify-content: center; // center / start / end / space-between / space-around / space-evenly
  column-gap: 45px;
  row-gap: 20px;

  // align grid items to grid area //
  // align-items: end; // center / end / start
  // justify-items: center;

  & img {
    margin-bottom: 0.5rem;
    // box-shadow: var(--shadow-md);
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  }

  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
    column-gap: 20px;
    row-gap: 10px;
  }
  @media only screen and (max-width: 375px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
  }
}

// grid-auto-rows: 175px;
// Using minmax function
// grid-template-columns: repeat(4, minmax(100px, 175px));
// grid-template-rows: repeat(2, minmax(175px, min-content));

// Using auto-fill and auto-fit
// grid-template-columns: repeat(auto-fill, 175px);
// grid-template-columns: repeat(auto-fit, 175px);
// grid-template-columns: repeat(auto-fit, minmax(100px, 175px));
// grid-auto-rows: 175px;

/* SWIPER CONTAINTER 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.swiper-section-main {
  width: 100%;
  // height: auto;
  background-color: #f3f3f3;
  padding: 3.1rem 1rem 0rem 1rem;
}

// EXTRA SECTION TO ALLOW PREV & NEXT BUTTONS TO LIVE OUTSIDE SWIPER CONTAINER
.swiper-section {
  padding: 1rem 1rem 2rem 1rem;
  max-width: 1632px;
  margin: 0 auto;
  position: relative;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.swiper-container {
  max-width: 1432px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // MOBILE ONLY
  // align-items: center;
  // FORCE SIZE OF EACH SLIDE //
  // width: 100%;
  // height: 100%;

  &__img {
    // background-size: cover !important;
    // background-repeat: no-repeat !important;
    // background-position: right center !important;

    overflow: hidden;
    // display: table;
    transition: all 0.3s;
    border-radius: 2px;
  }

  & img {
    // width: 100%;
    // height: 100%;
    // font-family: "object-fit:cover;object-position:center center";
    // object-fit: cover;
    // object-position: center center;
    // position: absolute;
    // top: 0;
    // left: 0;
    transition: all 0.3s;
    // transform: scale(1);

    // &:hover {
    //   transform: scale(1.1);
    // }
  }

  &__title {
    // max-width: 425px !important;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  &__date {
    font-family: "roboto condensed", sans-serif;
    font-size: 24px;
    color: var(--color-primary-alt) !important;
    margin-bottom: 0.5rem;
  }

  &__about {
    font-weight: 300;
  }
}

/* SWIPER BUTTONS */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: var(--shadow-md);
  padding: 2.5rem;
  border-radius: 50%;
  transform: scale(0.65);

  position: absolute;
  top: 27%;
  outline: none;

  @media only screen and (max-width: 545px) {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media only screen and (max-width: 1300px) {
  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}
