// PADDING /////////////////////////////////////////////// DELETE
.section-padding {
  padding: 0 1.5rem;
}

.general-padding {
  padding: 0px 1.5rem;
}

// .pad-x {
//   padding: 0 1rem;
// }

// MARGINS ///////////////////////////////////////////////

// .margin-top-sm {
//   margin-top: 10px !important;
// }
.margin-top-med {
  margin-top: 1.5rem !important;
}

.margin-xs {
  margin-bottom: 10px !important;
}

.margin-sm-message {
  margin-bottom: 1.5rem !important;
}

/*** 32px ***/
.margin-sm-med {
  margin-bottom: 2rem !important;
}

.margin-xl {
  margin-bottom: 6.3rem !important;
}
.margin-header-bottom {
  margin-bottom: 10px;
}

.block {
  display: block !important;
}
