
.employees-wrapper {
  max-width: 56.25rem;
  margin: 2rem auto;

  figcaption {
    font-family: roboto condensed;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-primary-alt);
    text-align: center;

    @include breakpoint-down(large) {
      font-size: 1.125rem;
    }

    @include breakpoint-down(small) {
      font-size: var(--font-base);
    }

    span {
      font-size: var(--font-base);
      font-weight: var(--font-thin);
      color: var(--color-primary-font);
      display: block;

      @include breakpoint-down(large) {
        font-size: var(--font-sm);
      }
    }
  }

  h3 {
    font-size: 2.375rem;
    font-weight: var(--font-thin);

    @include breakpoint-down(large) {
      font-size: 2.125rem;
    }
  }
}

.grid-employees {
  max-width: 56.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 175px));
  grid-template-rows: auto;

  // align grid tracks to grid container
  justify-content: center; // center / start / end / space-between / space-around / space-evenly
  column-gap: 45px;
  row-gap: 20px;

  // align grid items to grid area //
  // align-items: end; // center / end / start
  // justify-items: center;

  & img {
    margin-bottom: 0.5rem;
    box-shadow: var(--shadow-md);
  }

  @include breakpoint-down(large) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  }

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
    column-gap: 20px;
    row-gap: 10px;
  }
}

.share-links-container {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
