// CONTACT US MESSAGE FORMS //
.message-form {
  &__content {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(large) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__input-container {
    display: flex;
    justify-content: flex-start;

    @include breakpoint-down(large) {
      flex-direction: column;
      //   max-width: 50rem;
    }
  }

  &__input {
    margin: 0 1.5rem 1.5rem 0;

    &--02 {
      margin-bottom: 1.5rem;
    }
  }

  &__message {
    padding-bottom: 6.75rem;
  }
}

#mc_embed_signup {
  width: 58rem;

  @include breakpoint-down(large) {
    width: 30rem;
  }
  @include breakpoint-down(medium) {
    max-width: 100%;
  }
}

.contact-primary {
  width: 20rem;
  margin-left: 35px;

  &__icons {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & p {
      margin: 0px !important;
    }
  }

  &__border {
    @include flex-center;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid var(--color-light-gray);
    background-color: var(--color-light-white);
  }
}

// DENVER MAP //
.denver-map {
  padding: 2rem 0 4.7rem 0;

  @include breakpoint-down(small) {
    padding: 2rem 0 2.3rem 0;
  }
}

#mapDenver {
  height: 450px;
}

.contacts {
  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__card {
    width: 25rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }

    @include breakpoint-down(large) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__text p {
    font-weight: var(--font-thin);
    line-height: 28px;
  }
}
