.map-link {
  font-size: 1rem;
  font-weight: var(--font-reg);
  color: var(--color-primary);
}

.map-link:hover {
  text-decoration: underline !important;
}

#map {
  height: 43.75rem; // 700px
  width: 100%;

  @include breakpoint-down(small) {
    height: 18.75rem; // 300px
  }
}

// CUSTOM ICON ON MAP //
.iconImage {
  width: 1.25rem;
  height: 1.25rem;
}


