.services-bullet {
  display: inline-block;
  margin: 0px 10px 5px 10px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #3fa0ff;
}

.bullets {
  font-size: 1.875rem;
  color: var(--color-dark);
}
