.chevron {
  font-size: 1.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #0096db, #0096db);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fa-chevron-up {
  display: none;
}
