// MAIN FONTS ///////////////////////////////////////////////
h1,
h2,
h3,
h6 {
  font-family: "roboto condensed", sans-serif;
}

h2 {
  font-weight: var(--font-thin);
}

h3 {
  color: var(--color-primary-alt);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

h6 {
  font-weight: var(--font-thin);
}

// SECTION HEADINGS /////////////////
// MAIN ASD HEADER FOR INDEX ONLY //
.section-heading-index {
  font-size: 2.5rem;
  color: var(--color-primary);

  @include breakpoint-down(small) {
    font-size: 2.2rem;
  }
}

// MAIN SECTION HEADERS FOR ENTIRE SITE //
.section-heading {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 0.625rem !important;

  @include breakpoint-down(small) {
    font-size: 2.2rem;
  }
}
